html {
    font-family: 'Aclonica';
    font-style: italic;
    background-color: rgb(206, 221, 226);
}
.container {
    padding: 10px;
    border: 2px rgb(173, 206, 216);
    margin-top: 100px;
    box-shadow: 10px 10px 10px rgb(173, 206, 216);
    background-color: rgb(189, 217, 226); 
}