html {
    font-style: italic;
}

* {
    box-sizing: border-box;
}

.container {
    margin-top: 50px;
    position: relative;
    background-color: white;
}

.mySlides {
    display: none;
    position: relative;
    left: 25%;
    max-width: 50%;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 1.25%;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(248, 249, 250, 0.8);
}

.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color:white;
    padding: 8px 16px;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 10%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}